<h1>Aggiungi Macchina</h1>

<form method="POST" action="/cars">
	<input type="marca" placeholder="inserisci la marca" name="marca"><p>
	<input type="modello" placeholder="inserisci il modello" name="modello"><p>
	<input type="tipo" placeholder="inserisci il tipo" name="tipo"><p>
	<input type="carburazione" placeholder="inserisci la carburazione" name="carburazione"><p>
	<input type="prezzo" placeholder="inserisci il prezzo" name="prezzo"><p>
	<input type="concessionaria" placeholder="inserisci la concessionaria" name="concessionaria"><p>
	<input type="submit" value="submit">
</form>

<br/>

<button onclick="window.location.href='/sellerCars';">Indietro</button>