<!doctype html>
<html>
<head>
	<title>Cars Online</title>
	<style>
		.center{
			text-align: center;
		}
	</style>
</head>
<body>
	<div class="center">
		<h1>Homepage</h1>
		
		<br>
		
		<h2>Venditore:</h2>
		<h3>Registrati o effettua il login</h3>
		
		<button onclick="window.location.href='sellerLogin';">Accedi</button>
		<button onclick="window.location.href='sellerSignup';">Registrati</button>
		
		<br><br>
		
		<h2>Cliente:</h2>
		<h3>Registrati o effettua il login</h3>
		
		<button onclick="window.location.href='userLogin';">Accedi</button>
		<button onclick="window.location.href='userSignup';">Registrati</button>
	</div>
</body>
</html>
	