<!doctype html>
<html>
	<head>
		<style>
			.center{
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="center">
			<h1>Signup</h1>
			<form method="POST" action="/user">
				<input type="text" name="nome" placeholder="inserisci nome">
				<input type="text" name="cognome" placeholder="inserisci cognome">
				<br><br>
				<input type="email" name="email" placeholder="inserisci email">
				<input type="password" name="password" placeholder="inserisci password">
				<br><br>
				<input type="submit" value="submit">
			</form>
		</div>
	</body>
</html>